.App-header {
    background-color: azure;
    margin: 2rem;
}

h1 {
    text-align: center;
}
.menu > li{
    list-style-type: dot;
    margin:1rem;

}
.navbar {
    display: flex;
    justify-content: space-evenly;
    background-color: lightblue;
}
li {
    list-style-type: none;
}